{% extends 'base.html.twig' %}

{% block content %}
    <section class="section-header pb-9 pb-lg-12 mb-4 mb-lg-6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-2 mb-3">{{ 'tech'|trans|capitalize }}</h1>
                    <p class="mb-0">{{ 'Updated at November 26th, 2020'|trans }}</p>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-lg pt-0">
        <div class="container mt-n7 mt-lg-n12 z-2">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card border-light p-4 p-md-5">
                        <h2 class="mb-3">De techniek achter CheckIn</h2>
                        <p>Checking is een open source project gebaseerd op een set aan standaard componenten die ontwikkeld zijn voor de Nederlandse overheid en in
                            het bijzonder de Vereniging van Nederlandse Gemeente vanuit het Common Ground project. Voor het uitwisselen van contactgegeven en het vaststellen
                            (inloggen) van gebruikers kan gebruik worden gemaakt van het iDIN netwerk..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
