{% extends '/dashboard/dashboard.html.twig' %}

{% block dashboard %}

    <div class="row">
        <div class="col-12 mb-4">
            <!-- Organization Balance Card -->
            {% include 'dashboard/widgets/organization_balance.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- Organization Information Card -->
            {% include 'dashboard/widgets/organization_information.html.twig' %}
        </div>
    </div>

{% endblock %}
