<!--

=========================================================
* Spaces - Bootstrap Directory Listing Template
=========================================================

* Product Page: https://themesberg.com/product/bootstrap-themes/spaces-bootstrap-directory-listing-template
* Copyright 2020 Themesberg EULA (https://www.themesberg.com/licensing)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>Conduction - Checkin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Checking">
    <meta name="author" content="Conduction">
    <meta name="description" content="Checking">
    <meta name="keywords" content="Checking, Conduction" />
    <link rel="canonical" href="https://themesberg.s3.us-east-2.amazonaws.com/public/products/spaces/thumbnail.jpg">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://demo.themesberg.com/pixel-pro">
    <meta property="og:title" content="Checking">
    <meta property="og:description" content="Checking">
    <meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/spaces/thumbnail.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://demo.themesberg.com/pixel-pro">
    <meta property="twitter:title" content="Checking">
    <meta property="twitter:description" content="Checking">
    <meta property="twitter:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/spaces/thumbnail.jpg">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="/bundles/spaces/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/bundles/spaces/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/bundles/spaces/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/bundles/spaces/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/bundles/spaces/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css" href="/bundles/spaces/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/be1c31fb58.js" crossorigin="anonymous"></script>

    <!-- Leaflet JS -->
    <link type="text/css" href="/bundles/spaces/vendor/leaflet/dist/leaflet.css" rel="stylesheet">

    <!-- Fancybox -->
    <link rel="stylesheet" href="/bundles/spaces/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.css">

    <!-- VectorMap -->
    <link rel="stylesheet" href="/bundles/spaces/vendor/jqvmap/dist/jqvmap.min.css">

    <!-- Main CSS -->
    <link type="text/css" href="/bundles/spaces/css/spaces.css" rel="stylesheet">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
    <style>
        .bg-primary{
            background-color:  #01689B; !important;
        }
    </style>
</head>

<body>
{% if noMenu is not defined %}
    {% include 'menu.html.twig' %}
{% endif %}

<main>
    {% block content %}

    {% endblock %}
</main>

{% if noFooter is not defined %}
    {% include 'footer.html.twig' %}
{% endif %}

<!-- Core -->
<script src="/bundles/spaces/vendor/jquery/dist/jquery.min.js"></script>
<script src="/bundles/spaces/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="/bundles/spaces/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bundles/spaces/vendor/headroom.js/dist/headroom.min.js"></script>
<script src="/bundles/spaces/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- NoUISlider -->
<script src="/bundles/spaces/vendor/nouislider/distribute/nouislider.min.js"></script>

<!-- Bootstrap Datepicker -->
<script src="/bundles/spaces/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<!-- jQuery Waypoints -->
<script src="/bundles/spaces/vendor/waypoints/lib/jquery.waypoints.min.js"></script>

<!-- Owl acrousel -->
<script src="/bundles/spaces/vendor/owl.carousel/dist/owl.carousel.min.js"></script>

<!-- Smooth scroll -->
<script src="/bundles/spaces/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Fancybox -->
<script src="/bundles/spaces/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>

<!-- Sticky sidebar -->
<script src="/bundles/spaces/vendor/sticky-sidebar/dist/sticky-sidebar.min.js"></script>

<!-- Mapbox & Leaflet.js -->
<script src="/bundles/spaces/vendor/leaflet/dist/leaflet.js"></script>

<!-- Chartist -->
<script src="/bundles/spaces/vendor/chartist/dist/chartist.min.js"></script>
<script src="/bundles/spaces/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Vector Maps -->
<script src="/bundles/spaces/vendor/jqvmap/dist/jquery.vmap.min.js"></script>
<script src="/bundles/spaces/vendor/jqvmap/dist/maps/jquery.vmap.usa.js"></script>

<!-- Sliderform -->
<script src="/bundles/spaces/assets/js/jquery.slideform.js"></script>

<!-- Spaces custom Javascript -->
<script src="/bundles/spaces/assets/js/spaces.js"></script>

</body>

</html>
